.flexbox-container {
    height: 95vh;
    width: 60vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

#autobiography-desc {
    font-size: 1.5em;
}

.s-media {
    margin-right: 10px;
}

.thumb {
    margin-bottom: 5px;
}

.contact-icons {
    margin-right: 3px;
}

.project-preview {
    background-color: white;
    width: 100%;
}

.project-preview-thumb {
    padding: 0;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 10px;
}

.text-preview {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
}

.p-thumb-img:hover + .text-preview {
    display: block;
}

#project-preview {
    position: block;
}

#project-info {
    font-size: 0.8em;
}

#contact-info {
    font-size: 0.6em;
}


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    h1 {
        font-size: 2em;
    }
    #contact-info {
        font-size: 0.6em;
    }
    #project-preview {
        position: block;
    }
    #project-info {
        font-size: 0.8em;
    }
    .project-preview-thumb {
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 10px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    #contact-info {
        font-size: 0.6em;
    }
    #project-preview {
        position: absolute;
    }
    #contact-info {
        font-size: 0.8em;
    }
    #project-info {
        font-size: 1em;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .project-preview-thumb {
        width: 40%;
        margin-right: 10%;
        margin-left: 0;
        margin-bottom: 0;
    }
}
